<h1 mat-dialog-title>Node config - {{data.node.head}}</h1>
<div>
    <div *ngIf="data.node.type === 1">
        <div>
            <form [formGroup]="computerForm" autocomplete="off" fxLayout="column" fxLayoutGap="12px">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <!-- <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>User</mat-label>
                    <input matInput formControlName="user">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Monitoring Time Second</mat-label>
                    <input matInput formControlName="monitoring_time_second">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Sampling Frequency Second</mat-label>
                    <input matInput formControlName="sampling_frequency_second">
                </mat-form-field> -->
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Data</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="data">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Hour </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="hour">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Memory Buffers</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="memory_buffers">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Memory Cache:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="memory_cache">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Memory Free </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="memory_free">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Memory Shared: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="memory_shared">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Memory Total </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px"
                            formControlName="memory_total">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Memory Used </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="memory_used">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <!-- <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>RSA:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="rsa">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div> -->
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Swap Free </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="swap_free">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Swap Total: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="swap_total">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Swap Used: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="swap_used">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Zombie Process Total: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="zombie_process_total">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Comment</mat-label>
                    <input matInput formControlName="comment">
                </mat-form-field>
            </form>
        </div>
    </div>
    <div *ngIf="data.node.type === 2">
        <div>
            <form [formGroup]="cpuForm" autocomplete="off" fxLayout="column" fxLayoutGap="12px">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Core</mat-label>
                    <mat-select formControlName="core">
                        <mat-option value="ALL">ALL</mat-option>
                        <mat-option value="ZERO">ZERO</mat-option>
                        <mat-option value="ONE">ONE</mat-option>
                        <mat-option value="TWO">TWO</mat-option>
                        <mat-option value="THREE">THREE</mat-option>
                        <mat-option value="FOUR">FOUR</mat-option>
                        <mat-option value="FIVE">FIVE</mat-option>
                        <mat-option value="SIX">SIX</mat-option>
                        <mat-option value="SEVEN">SEVEN</mat-option>
                        <mat-option value="EIGHT">EIGHT</mat-option>
                        <mat-option value="NINE">NINE</mat-option>
                        <mat-option value="TEN">TEN</mat-option>
                        <mat-option value="ELEVEN">ELEVEN</mat-option>
                        <mat-option value="TWELVE">TWELVE</mat-option>
                        <mat-option value="THIRTEEN">THIRTEEN</mat-option>
                        <mat-option value="FOURTEEN">FOURTEEN</mat-option>
                        <mat-option value="FIFTEEN">FIFTEEN</mat-option>
                        <mat-option value="SIXTEEN">SIXTEEN</mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Gnice:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="gnice">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Guest:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="guest">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Idle:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="idle">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Iowait: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="iowait">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Irq: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="irq">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Nice:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="nice">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Soft:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="soft">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Steal:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="steal">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Sys:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="sys">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>User:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="user">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Comment</mat-label>
                    <input matInput formControlName="comment">
                </mat-form-field>
            </form>
        </div>
    </div>
    <div *ngIf="data.node.type === 3">
        <div>
            <form [formGroup]="networkForm" autocomplete="off" fxLayout="column" fxLayoutGap="12px">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Download KB:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="download_kb">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Download Packet: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="download_packet">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Upload KB: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="upload_kb">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Upload Packet:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="upload_packet">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Comment</mat-label>
                    <input matInput formControlName="comment">
                </mat-form-field>
            </form>
        </div>
    </div>
    <div *ngIf="data.node.type === 4">
        <div>
            <form [formGroup]="processForm" autocomplete="off" fxLayout="column" fxLayoutGap="12px">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Filter</mat-label>
                    <input matInput formControlName="filter">
                </mat-form-field>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>CPU Core</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="cpu_core">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>CPU Total Percent </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="cpu_total_percente">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Elapsed Time</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="elapsed_time">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Guest Percent:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="guest_percent">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Max Faults Sec </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="max_faults_sec">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Min Faults Sec: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="min_faults_sec">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Physical Memory Percent: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="physical_memory_percent">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Resident Memory KB </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="resident_memory_kb">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>System Percent:</label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="system_percent">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Usr Percent </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="usr_percent">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="50">
                        <label>Virtual Memory KB: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="virtual_memory_kb">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Comment</mat-label>
                    <input matInput formControlName="comment">
                </mat-form-field>
            </form>
        </div>
    </div>
    <div *ngIf="data.node.type === 5">
        <div>
            <form [formGroup]="hdForm" autocomplete="off" fxLayout="column" fxLayoutGap="12px">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="40">
                        <label>Blocks: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="blocks"> 
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="40">
                        <label>Free KB: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px"  formControlName="free_kb">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="40">
                        <label>Free Percent: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px"  formControlName="free_percent">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="40">
                        <label>Total: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px"  formControlName="total">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="40">
                        <label>Used KB: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px"  formControlName="used_kb">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayoutGap="14px" fxFlex>
                    <div fxFlex="40">
                        <label>Used Percent: </label>
                    </div>
                    <div fxFlex>
                        <mat-radio-group aria-label="Select an option" fxLayoutGap="16px" formControlName="used_percent">
                            <mat-radio-button [value]="true">True</mat-radio-button>
                            <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Comment</mat-label>
                    <input matInput formControlName="comment">
                </mat-form-field>
            </form>
        </div>
    </div>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
    <button color="warn" mat-button mat-dialog-close>CLOSE</button>
    <button (click)="save()" color="primary" mat-button>SAVE</button>
</div>