<h1 mat-dialog-title>General information</h1>
<div fxLayout="column" fxLayoutGap="16px">
    <div>
        <div>This project is a front end tool for generating monitoring scripts for linux systems derived from debian.</div>
        <div>The nativeshell scripts were chosen so that there is no system disturbance at the time of data collection.</div>
    </div>
    <div fxLayoutGap="8px">
        <div fxLayout="row">
            <strong>Basic prerequisites:</strong>
            <div class="texto">date, mpstat, free, df, cat, ps aux.</div>
        </div>
        <div fxLayout="row">
            <strong>Auxiliary prerequisites:</strong>
            <div class="texto">echo, awk, cut, gawk, grep, head, sleep, wc.</div>
        </div>
        <div fxLayout="row">
            <strong>Execution prerequisite:</strong>
            <div class="texto">chmod +x example.sh</div>
        </div>
        <div fxLayout="row">
            <strong>Execution:</strong>
            <div class="texto">./example.sh</div>
        </div>
    </div>
    <div fxLayoutGap="8px">
        <strong>Instructions for use</strong>
        <div fxLayoutGap="8px">
            <div class="texto">First: Assemble the structure with the available nodes.</div>
            <div class="texto">Second: Configure each node.</div>
            <div class="texto">Third: Press the run button to generate the scripts.</div>
        </div>
    </div>
    <div>
        <strong>Developed by: </strong>
        <div class="texto"><a href="mailto:araujocezarbcc@gmail.com">Cézar Rômulo Cordeiro de Araújo Filho</a></div>
        <div class="texto"><a href="mailto:teixeirajean1@gmail.com">Jean Carlos Teixeira de Araújo</a></div>
    </div>
</div>