#divDiagrama{
    width: 80%;
    height: 450px;
    border: 1px solid black;
    background-color: #9c9c9c;
}
#divPallet {
  border: 1px solid navy;
  width: 20%;
  height: 450px;
}
.sidenav-menu{
  margin-left: 8px;
}